/***** base styles *****/

body {
  width:auto;
  font-family: 'Indie Flower', serif;
  color: #993319;
 background-image: url('../img/paper.jpg');
 background-color: #878996;
}
#about #work #contact #gallery{
   height: 100px;
}

/***** GRID *****/

.content-wrapper {
  display:flex;
  justify-content: center;S

   width: 1800px;
   margin: 0 auto;
 }
 #header{
   height:200px;
 }
 ul {
   display:flex;
   float:left;
   list-style-type: none;
   margin-left:20px;
   Padding:30px;
   margin-right:3px;
   font-size: 35px;
   float:right;
   padding-left: 15px;
   height:40px;
 }
   li{
     display:flex;
     padding-left: 30px;
     justify-content:
   }
 #about h1 {
   padding-top: 20px;
  position:relative;
  text-align: center;
  font-family: 'Indie Flower', serif;
  font-size:70px;
  margin: 0 auto;

}
.about h2 {

}
.about P {
  display: flex;
  text-align: center;
}
.scrunchy {
  display:flex;
  justify-content: center;
}
.scrunchy img {
  width:55%;

}

.flex-container #gallery{
  display: flex;
  justify-content: center;


}
.gallery #h1{
  display: flex;
  justify-content: center;
  font-size: 55px;
  height:auto;
  margin: 0 auto;
}
.gallery #h2 {
  display: flex;
  justify-content: center;
  font-family: 'Indie Flower', serif;
  font-size: 42px;
  margin-left: 300px;
  margin-right: auto;
  padding: 45px 60px 45px 30px;
  height:80px;
}

div.gallery {
  margin: 65px;
  border: 1px solid #ccc;
  float: left;
  width: 290px;
}

div.gallery:hover {
  border: 1px solid #777;
  margin: 65px;
}

div.gallery img {
  width: 100%;
  height: auto;
}
.main.gallery {
  display:flex;
  justify-content: center;
}

p {
  padding-left: 30px;
  font-size: 35px;
  text-align: center;
}
div.desc {
  padding:inherit;
  text-align: center;
  font-size: 24px;
}
img.gallery {
  padding-left: 200px;
  padding-right: 200px;
  border-radius: 26px;
}
h2 {
  width:auto;
  text-align: center;
  font-size: 35px;
  margin:25px;
}
footer {
  margin-left: 55px;
  padding-top: 44px;

}
#signature{
  display:flex;
  justify-content: center;
}
#signature h3 {
  font-family: 'Caveat' serif;
  font-size: 30px;
  color: #3d660d;

}
