/***** base styles *****/

body {
  width:auto;
  font-family: 'Indie Flower', serif;
  color: #993319;
 background-image: url('../img/paper.jpg');
 background-color: #878996;
}
#about, #work, #contact  #gallery{
   height: 600px;
}

/***** GRID *****/

.full-width {
   width: 1500px;
   margin: 0 auto;
 }
 ul {
   list-style-type: none;
   margin-left:20px;
   Padding:20px;
   margin-right:3px;
   font-size: 25px;
   float:right;
   padding-left: 15px;
   height:30px;
 }
   li{
     display:inline-block;
     padding-left: 30px;
   }
 h1 {
  text-align: center;
  width:1200px;
  font-family: 'Indie Flower', serif;
  font-size:60px;
  padding-left: 60px;
}
#about h2 {

}
#about P{
  margin-left: 100px;
  margin right:400px;
  text-align: center;
  display: inline-block;
}
#about img {
  padding-left: 430px
   float:none;
 }
 img {
  width:900px;
  padding-left:30px;
  float:none;
}
}
.flex-container {
  display: flex;
}
#gallery h1{
  display: inline-block;
  margin-left: 230px
};
#gallery h2 {
  font-family: 'Indie Flower', serif;
  font-size: 42px;
  margin-left: 300px;
  margin-right: auto;
  padding: 45px 60px 45px 30px;
  height:80px;
}

div.gallery {
  margin: 65px;
  border: 1px solid #ccc;
  float: left;
  width: 290px;
}

div.gallery:hover {
  border: 1px solid #777;
  margin: 65px;
}

div.gallery img {
  width: 100%;
  height: auto;
}
p {
  padding-left: 30px;
  font-size: 35px;
  text-align: center;
}
div.desc {
  padding:inherit;
  text-align: center;
}
img {
  padding-left: 200px;
  padding-right: 200px;
  border-radius: 26px;
}
h2 {
  width:auto;
  text-align: center;
  font-size: 35px;
  margin:25px;
}
footer {
  margin-left: 55px;
  padding-top: 44px;

}
#signature h3 {
  font-family: 'Caveat' serif;
  font-size: 20px;
  color: #3d660d;
  height: 30px;
  margin-left: 300px;
  display: inline-block;



}
